{
  "bracketSpacing": true,
  "printWidth": 110,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "svelteBracketNewLine": true,
        "svelteAllowShorthand": false,
        "svelteSortOrder": "options-scripts-styles-markup",
        "plugins": [ "prettier-plugin-svelte" ],
        "svelteStrictMode": true,
        "svelteIndentScriptAndStyle": true
      }
    }
  ],
  "pluginSearchDirs": [ "." ]
}

