{
  "bracketSpacing": true,
  "printWidth": 110,
  "semi": true,
  "singleQuote": true,
  "svelteAllowShorthand": false,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": false,
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteStrictMode": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
